body{
    background: rgb(46, 3, 87);
    font-family: Arial, Helvetica, sans-serif;
}

figcaption{
    font-size: 12px;
    margin-top: -6%;
    margin-bottom: 10%;
    color: white;
}

/* Inicio de los estilos de los parrafos, cada uno independiente */
.nosotros h1 {
    font-size: 20px;
    color: #f368f8;
    text-align: center;
    margin-top: 10%;
}

.nosotros p {
    font-size: 14px;
    line-height: 1.6;
    color: #fdfcfc;
}

.problematica h2 {
    font-size: 20px;
    color: #f368f8;
    text-align: center;
    margin-top: 5%;
}

.problematica p {
    font-size: 14px;
    line-height: 1.6;
    color: #fdfcfc;
}

.impactoSocial h3 {
    font-size: 20px;
    color: #f368f8;
    text-align: center;
    margin-top: 5%;
}

.impactoSocial p {
    font-size: 14px;
    line-height: 1.6;
    color: #fdfcfc;
}


.diferenciacion h4 {
    font-size: 20px;
    color: #f368f8;
    text-align: center;
    margin-top: 5%;
}

.diferenciacion p {
    font-size: 14px;
    line-height: 1.6;
    color: #fdfcfc;
}

/* Fin de los estilos de los parrafos */

b{
    color: rgb(233, 124, 188);
}

.leerMas{
    color: rgb(15, 252, 15);
}

.logo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 3%;
}

span{
    color: #EE13C4;
}

/* Estilos del menu */
.menu-items{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  
}

li{
    list-style: none;
    margin-top: 50px;
}

img.principal {
    max-width: 100%; /* Establece el tamaño máximo de la imagen como el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin-bottom: 100px;
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
}


header {
    position: fixed;
    left: 1%; 
    
}

/* Estilos de los iconos de las redes sociales */
.sociales {
    display: flex; /* Mostrar los iconos en línea */
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Espacio superior entre el contenido y los iconos */
}


.sociales a {
    margin: 0 10px; 
    transition: transform 0.3s; /* Efecto de transición para el cambio de tamaño */
    font-size: 25px;
}

/* Estilos para los iconos al pasar el cursor sobre ellos */
.sociales a:hover {
    transform: scale(1.1); /* Aumentar el tamaño del icono al 110% */
}

/* Estilos para el icono de Facebook */
.sociales a[href="#"] .fab.fa-facebook {
    color: rgb(17, 17, 187); /* Color azul para el icono de Facebook */
}

/* Estilos para el icono de Telegram */
.sociales a[href="#"] .fab.fa-telegram {
    color: rgb(0, 136, 204);
}

/* Estilos para el icono de YouTube */
.sociales a[href="https://www.youtube.com/@freud-ia"] .fab.fa-youtube {
    color: rgb(206, 25, 25); /* Color rojo para el icono de YouTube */
}

p.derechos-autor{
    font-size: 14px;
    color: #333;
   
}

/* Otros estilos del menu */
.menu {
    display: none; 
}

.menu ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    background: white;
}

.menu ul li {
    margin: 0;
    padding: 10px 0;
}

.menu a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    .menu-toggle {
        display: block; 
     
    }

    .menu {
        display: none; 
    }

    .menu.active {
        display: block; 
    }
}

/* Estilos para el formulario de suscripcion de email */
.formulario {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.formulario p {
    margin-top: 10%;
    font-size: 18px;
    color: rgb(247, 242, 242);
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final{
    background-image: url('final.jpg');
    background-size: cover; /* Para cubrir todo el área del contenedor */
    background-position: center; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /
}

.formulario input[type="email"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para mostrar los parrafos en bloques */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nosotros,
.problematica,
.impactoSocial,
.diferenciacion {
    width: calc(30% - 20px); /* Ajusta el ancho de los bloques según tus necesidades */
    margin-bottom: 20px;
    background: #023e7a;
}

@media screen and (max-width: 768px) {
    .nosotros,
    .problematica,
    .impactoSocial,
    .diferenciacion {
        width: calc(100% - 20px);
        margin-left: 2%;
    }
}


p.derechos-autor{
    color: rgb(218, 218, 74);
    text-align: center;
    font-size: 16px;
}

.titulo-bienvenida {
    position: absolute;
    top: 50%; /* Posición vertical centrada */
    left: 50%; /* Posición horizontal centrada */
    transform: translate(-50%, -50%); /* Centrar el texto tanto vertical como horizontalmente */
    color: #fff;
    font-size: 36px;
    font-weight: bold; /* Texto en negrita */
    font-family: 'Arial', sans-serif; /* Fuente moderna */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mayor contraste */
}


@media screen and (max-width: 768px) {
    .titulo-bienvenida {
        font-size: 24px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        top: 40%; /* Ajustar la posición vertical centrada para pantallas pequeñas */
    }
}



/* Mensaje para cuando el usuario se suscribe con su correo */
#thank-you-message {
    display: none; /* Ocultar el mensaje inicialmente */
    color: rgb(24, 226, 24); /* Color verde para el mensaje */
}




