body{
    background: rgb(68, 14, 119);
    font-family: Arial, Helvetica, sans-serif;
}
.informacion {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    align-items: center;
}

.nosotros h1 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
}

.nosotros p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-right: 25%;
    margin-left: 25%;
}

.problematica h2 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 5%;
}

.problematica p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-right: 25%;
    margin-left: 25%;
}

.impactoSocial h3 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 5%;
}

.impactoSocial p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-right: 25%;
    margin-left: 25%;
}


.diferenciacion h4 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 5%;
}

.diferenciacion p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-right: 25%;
    margin-left: 25%;
}

b{
    color: rgb(233, 124, 188);
}

.leerMas{
    color: rgb(15, 252, 15);
}

.logo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 3%;
}

span{
    color: #EE13C4;
}

.menu{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  
}

li{
    list-style: none;
    margin-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; 
    height: 100%;
    background-color: gray; 
}

