body{
    background: rgb(68, 14, 119);
    font-family: Arial, Helvetica, sans-serif;
}


.nosotros h1 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 10%;
}

.nosotros p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-left: 25%;
}

.problematica h2 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 5%;
}

.problematica p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-left: 25%;
}

.impactoSocial h3 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 5%;
}

.impactoSocial p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-left: 25%;
}


.diferenciacion h4 {
    font-size: 16px;
    color: #ebe2e2;
    text-align: center;
    margin-top: 5%;
}

.diferenciacion p {
    font-size: 12px;
    line-height: 1.6;
    color: #fdfcfc;
    margin-left: 25%;
}

b{
    color: rgb(233, 124, 188);
}

.leerMas{
    color: rgb(15, 252, 15);
}

.logo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 3%;
}

span{
    color: #EE13C4;
}

.menu-items{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  
}

li{
    list-style: none;
    margin-top: 50px;
}

img{
    width: 10px;
    height: auto;
    margin-top: 5%;
    margin-right: 20px;
    margin-left: 100px;
}

header {
    position: fixed;
    left: 0;
   
background: #ebe2e2;    
    
}


.sociales {
    display: flex; /* Mostrar los iconos en línea */
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Espacio superior entre el contenido y los iconos */
}


.sociales a {
    margin: 0 10px; 
    transition: transform 0.3s; /* Efecto de transición para el cambio de tamaño */
    font-size: 25px;
}

/* Estilos para los iconos al pasar el cursor sobre ellos */
.sociales a:hover {
    transform: scale(1.1); /* Aumentar el tamaño del icono al 110% */
}

/* Estilos para el icono de Facebook */
.sociales a[href="#"] .fab.fa-facebook {
    color: rgb(17, 17, 187); /* Color azul para el icono de Facebook */
}

/* Estilos para el icono de YouTube */
.sociales a[href="https://www.youtube.com/@freud-ia"] .fab.fa-youtube {
    color: rgb(206, 25, 25); /* Color rojo para el icono de YouTube */
}

p.derechos-autor{
    font-size: 14px;
    margin-top: 8%;
    margin-bottom: 20%;
   
}

